.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Shrikhand';
  font-size: 40px;
}

.ham {
  display: none;
  z-index: 12;
}

.listItem {
  display: inline-block;
  margin-left: 25px;
}

.linkActive {
  // font-style: italic;
  padding-bottom: 5px;
  border-bottom: 0.5px dashed cadetblue;
}

//off menu
.offul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin: 25px 0;
    a {
      font-size: 20px;
    }
  }
}

.offmenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  transform: translateX(100vw);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.open {
  transform: none;
}

.aside {
  width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  flex-direction: column;
  height: 100%;
  background-color: #0f3145;
  box-shadow: rgba(0, 0, 0, 0.7) -10px 0px 30px -15px;
}

@media screen and (max-width: 500px) {
  .header {
    padding: 0 25px;
  }

  .links {
    display: none;
  }
  .ham {
    display: block;
  }
}
